body{
    text-align: center;
    background-image:url(bgd.jpg);
    color:white;
}
a{
    color:white;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid black;
}
h1{
    font-size: 50px;
}
li{
    display: inline;
}